.header
  %p  チャットグループが作成されました
.sideblock
  .sideblock--info
    %p  nickname
  .sideblock--group
    .sideblock--group--groupname
      %p  groupname
    .sideblock--group--message
      %p  message
.mainblock
  .mainblock--group_name

  .mainblock--chat
  .mainblock--form

