
= render 'shared/sideblock'

.mainblock
  .mainblock__groupname
    = link_to edit_group_path do
      .mainblock__groupname__editbutton
        %p  Edit
    .mainblock__groupname__groupname
      %p  groupname
    %ul.mainblock__groupname__members
      Member :
      %li.member
        name
  .mainblock__chats
    .mainblock__chats__kuuhaku
    .mainblock__chats__chat
      .mainblock__chats__chat__nickname
        %p  nickname
      .mainblock__chats__chat__date
        %p  2000/00/00 00:00:00
      .mainblock__chats__chat__message
        %p  message
  .mainblock__form
    %form
      %input.mainblock__form__message
      .mainblock__form__mask
        %label.mainblock__form__mask__image
          = fa_icon 'picture-o', class: 'icon'
          %input.hidden{type: 'file'}
      %input.mainblock__form__submit{type: 'submit', value: 'Send'}
