html, body { height: 100%; }

.header {
background: #38AEF0;
text-align: center;
  p {
  color: white;
  }
}

.sideblock {
float: left;
background-color: #2f3e51;
width: 300px;
height: 100%;
  .sideblock--info {
  background-color: #253141;
  height: 100px;
  line-height: 100px;
  padding: 0 20px 0 20px;
    p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    }
  }
  .sideblock--group {
  background-color: #2f3e51;
  padding: 0 20px 0 20px;
  height: 71px;
    .sideblock--group--groupname {
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 20px;
    }
    .sideblock--group--message {
    color: #FFFFFF;
    font-size: 11px;
    padding-top: 5px;
    }
  }
}

.mainblock {
float: right;
background-color: #AAAAAA;
width: calc(100vw - 300px);
height: 100%;
  .mainblock--group_name {
  background-color: #FFFFFF;
  height: 100px;
  padding:0 40px 0 40px;
    .mainblock--group_name--groupname {
    color: #333333;
    font-size: 20px;
    padding-top: 35px;
    }
    .mainblock--group_name--membername {
    color: #999999;
    font-size: 12px;
    padding-top: 15px;
    }
  }
}







