html, body { height: 100%; }

.header {
background: #38AEF0;
text-align: center;
color: white;
}

.sideblock {
float: left;
background-color: #2f3e51;
width: 300px;
height: 100%;
  .sideblock--info {
  background-color: #253141;
  height: 100px;
  line-height: 100px;
  padding: 0 20px 0 20px;
    p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    }
  }
  .sideblock--group {
  background-color: #2f3e51;
  padding: 0 20px 0 20px;
  height: 71px;
    .sideblock--group--groupname {
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 20px;
    }
    .sideblock--group--message {
    color: #FFFFFF;
    font-size: 11px;
    padding-top: 5px;
    }
  }
}

.mainblock {
float: right;
background-color: #AAAAAA;
width: calc(100vw - 300px);
height: 100%;
  .mainblock--group_name {
  background-color: #FFFFFF;
  height: 100px;
  padding:0 40px 0 40px;
    .mainblock--group_name--editbutton {
    float: right;
    margin-top: 28px;
    padding: 0 20px;
    border: solid #39AEF0;
    height: 40px;
    line-height: 40px;
    color: #39AEF0;
    }
    .mainblock--group_name--groupname {
    color: #333333;
    font-size: 20px;
    padding-top: 35px;
    }
    .mainblock--group_name--membername {
    color: #999999;
    font-size: 12px;
    padding-top: 15px;
    }
  }
  .mainblock--chats {
  border: solid #eeeeee;
  background-color: #FAFAFA;
  height: calc(100% - 190px);
    .mainblock--chats--kuuhaku {
    height: 46px;
    }
    .mainblock--chats--chat {
    padding:0 40px 0 40px;
      .mainblock--chats--chat--nickname {
      font-size: 16px;
      color: #434A54;
      font-weight: bold;
      float: left;
      margin-right: 10px;
      }
      .mainblock--chats--chat--date {
      font-size: 12px;
      color: #999999;
      }
      .mainblock--chats--chat--message {
      font-size: 14px;
      color: #434A54;
      padding-top: 10px;
      padding-bottom: 40px;
      clear: both;
      }
    }
  }
  .mainblock--form {
  margin-top: 20px;
  margin-left: 40px;
  width: calc(100vw - 380px);
  height: 50px;
    .mainblock--form--textarea {
    background-color: #FFFFFF;
    height: 100%;
    width: calc(100vw - 495px);
    float: left;
    line-height: 50px;
      p {

      }
    }
    .mainblock--form--button {
    background-color: #39AEF0;
    text-align: center;
    height: 100%;
    line-height:50px;
    width: 100px;
    float: right;
    color: #FFFFFF;
    }
  }
}






